header {
    background-color: rgb(226, 226, 226);
}

.main-navigation {
    display: flex;
    padding: 30px 20px;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.logo-link {
    text-decoration: none;
    font-family: 'Golos Text', sans-serif;
    color: #4F4F4F;
    font-weight: 700;
    font-size: 20px;

}

.menu-nav-wrapper {
    display: flex;
    align-items: center;
    gap: 35px;
}

.search-form {
    display: flex;
    gap: 10px;
}

.search-input {
    padding: 5px 15px;
    border: none;
    font-family: 'Golos Text', sans-serif;
    border-radius: 10px;
}

.search-button {
    padding: 7px 15px;
    background-color: #4F4F4F;
    color: white;
    border: none;
    font-family: 'Golos Text', sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

.search-button:hover {
    background-color: rgb(96, 92, 80);
}

.menu {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 35px;
    margin: 0;
}

.navigation-item {
    text-decoration: none;
    color: #4F4F4F;
    font-family: 'Golos Text', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.navigation-item:hover {
    color: rgb(163, 149, 125);
}

.active .navigation-item {
    color: rgb(163, 149, 125);
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(163, 149, 125);
}
